.background2{
    background: url('./file/background.jpg');
    background-size:cover;
    background-position: center; 
    position: fixed;
    top:0;
    left:0;
    z-index: -1;
    width: 100%;
    height: 100%;
}
.icon{
    height: 100px;
}
html, body{
    width: 100%;
    height: 100%;
}
.icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100% - 50px);
}
.icp{
    display: inline-block;
    width: 100px;
    margin: 15px 15px;
}
.i-inner, .d-inner{
    min-width: 85px; min-height: 104px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.i-inner:hover, .d-inner:hover{
    background: rgba(255, 255, 255, 0.3);
}

.desktop{
    width: 100px;
    height: 105px;
}
.files{
    width: 86px;
    height: 105px;
}
.edge{
    width: 71px;
    height: 92px;
}
.music{
    width: 74px;
    height: 92px;
}
.video{
    width: 74px;
    height: 92px;
}
.image{
    width: 66px;
    height: 90px;
}
.bottom{
    background-color: rgba(51, 51, 51, 0.5);
    
    z-index: -1;
    width: 100%;
    height: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    backdrop-filter: saturate(180%) blur(40px);
}
.windows-c{
    height: 27px;
}
.windows{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border: 0;
    padding: 6px;
    border-radius: 4px;
    z-index: 1000;
}
.windows:hover{
    background: rgba(255, 255, 255, 0.3);
}
@keyframes click {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.6);
    }
    100%{
        transform: scale(1);
    }
}
.tap{
    position: fixed;
    top:0;
    left:0;
    z-index: -1;
    width: 100%;
    height: calc(100% - 50px);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}